%% -*- erlang -*-
{deps,
 [
  {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git",
                         {branch, "master"}}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx", {tag, "v2.0.4"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.0.6"}}}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {parse_transform, lager_transform},
  {verbosity, trace}
 ]}.

{edoc_opts,
 [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, []},
  {top_level_readme,
   {"./README.md",
    "https://github.com/helium/exometer_json", "master"}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
